{% extends 'allPhoto/base.html' %}


{% block content %}

<h1 style="text-align: center;color:thistle;font-weight:bold">  GALLERY App</h1>

<div class="row">
{% for photo_item in images %}
    <p>{{photo.name}}</p>
    <div class="col-sm-6 col-md-3">
      <img src="{{photo_item.image.url}}" data-toggle="modal" class="img-responsive" alt="Image" style="max-width:200px;">
   </div>
 </div>
 {% empty %}
 <div class="row">
   <h2 class="text-center">There No Images yet</h2>
 </div>
 {% endfor %}



{% endblock%}